.course-tabs-navigation {
  position: relative;
  border-bottom: solid 1px #eaeaea;

  .nav a,
  .nav button {
    &:hover {
      font-weight: var(--pgn-typography-font-weight-normal);
      color: var(--pgn-color-primary-600);
      background-color: var(--pgn-color-primary-50);
      font-weight: 700;
    }
  }

  .nav a {
    &:not(.active):hover {
      font-weight: var(--pgn-typography-font-weight-normal);
      color: var(--pgn-color-primary-600);
      background-color: var(--pgn-color-primary-50);
      font-weight: 500;
    }
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }

  .nav-menu {
    flex: 1;
  }

  .search-toggle {
    flex-grow: 0;
    text-align: right;
    white-space: nowrap;
    margin-bottom: 10px;
  }


}
